body {
  background-color: rgb(50, 50, 50);
}

#header {
  background-color: rgb(153, 228, 187);
  width: 130%;
  height: 100px;
  margin-left: -30px;
  margin-top: -50px;
  margin-bottom: 100px;
  transform: rotate(358deg);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(240, 245, 243);
  position: fixed;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 34px;
  margin-bottom: 35px;
  margin-top: 50px;
  margin-left: 45px;
}

button{
    border-style: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  font-size: 20px;

}

#teamsdiv {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  padding-top: 300px;
}
.wholeTeam {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 20px;
  text-align: center;
  transition: 0.4s ease;
}

.wholeTeam:hover {
  color: rgb(114, 113, 113);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transform: rotate(6deg);
  margin-top: -30px;
  
}

.imageTeam {
  width: 70px;
  height: 70px;
  margin-left: 5px;
  margin-right: 5px;
}

.nameTeam {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(50, 50, 50);
  font-size: 20px;
  position: fixed;
  margin-top: 150px;

}
